@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');
:root{
    --azul-escuro: #1D3557;
    --azul-claro: #0176D3;
    --branco: #F1FAEE;
   --titulo: "Righteous", "Sans-serif";
   --texto-comum: "Alata", "Sans-serif";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (min-width: 320px)and (max-width: 439px){
    .OrgTotal_sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Org-sucesso{
        width: 85vw;
        padding: 6vw;
        margin-block: 5rem;
        background-color: #cce3de;
    }
    .edicao-sucesso{
        display: flex;
    }
    .bolinhaSucesso{
        width: 10vw;
        height: 6vh;
    }
    .texto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        font-size: 5vw;
        margin-bottom: 4vw;
    }
    .layout-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        margin-block: 4vw;
    }
    .layout{
        width: 70vw;
        height: 20em;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout-imagem-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-sucesso{
        width: 60vw;
    }
    .texto-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", sans-serif;
        color: white;
        list-style: none;
    }
    .texto-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", sans-serif;
        color: white;
        list-style: none;
    }
    .texto-imagem{
        color: white;
        font-size: 1.7em;
    }
    .textodois-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 440px)and (max-width: 580px){
    .OrgTotal_sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Org-sucesso{
        width: 85vw;
        padding: 6vw;
        background-color: #cce3de;
        margin-block: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .edicao-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .bolinhaSucesso{
        width: 5vw;
        height: 4vh;
        margin-top: -20px;
    }
    .texto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        font-size: 3.5vw;
        margin-bottom: 4vw;
    }
    .layout{
        width: 52vw;
        height: 15rem;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout-imagem-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-sucesso{
        width: 10rem;
    }
    .texto-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", sans-serif;
        color: white;
        list-style: none;
    }
    .texto-imagem{
        color: white;
        font-size: 1.7em;
    }
    .texto-imagem:visited{
        color: white;
    }
    .layout-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        margin-block: 4vw;
    }
    .textodois-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 720px) and (max-width: 1024px){
    .OrgTotal_sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Org-sucesso{
        width: 65vw;
        padding: 2vw;
        margin-block: 5rem;
        background-color: #cce3de;
    }
    .edicao-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .bolinhaSucesso{
        width: 3vw;
        height: 4vh;
        margin-top: -15px;
    }
    .texto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .imagens-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout{
        width: 10.5rem;
        height: 10.5rem;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout-imagem-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-sucesso{
        width: 8rem;
    }
    .texto-imagem-paginaInicial{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-imagem{
        color:var(--branco);
        font-family: var(--titulo);
    }
    .doistexto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .layout-sucesso{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        row-gap: .5rem;
        margin-block: 2vh;
    }
    .textodois-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .OrgTotal_sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .OrgTotal_sucesso{
        display: flex;
    }
    .Org-sucesso{
        width: 65vw;
        padding: 2vw;
        margin-block: 5rem;
        background-color: #cce3de;
    }
    .edicao-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .bolinhaSucesso{
        width: 3vw;
        height: 5vh;
        margin-top: -20px;
    }
    .texto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    .imagens-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout{
        width: 13rem;
        height: 12rem;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout:hover{
        width: 14rem;
        height: 13rem;
    }
    .layout-imagem-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-sucesso{
        width: 9rem;
    }
    .formatacao-imagem-sucesso:hover{
        width: 11rem;
        transition: 2ms;
    }
    .texto-imagem-paginaInicial{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-imagem{
        color:var(--branco);
        font-family: var(--titulo);
    }
    .layout-sucesso{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        row-gap: 1rem;
        margin-block: 2vh;
    }
    .textodois-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 1441px) and (max-width: 1950px){
    .OrgTotal_sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .OrgTotal_sucesso{
        display: flex;
    }
    .Org-sucesso{
        width: 65vw;
        padding: 2vw;
        margin-block: 5rem;
        background-color: #cce3de;
    }
    .edicao-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .bolinhaSucesso{
        width: 3vw;
        height: 5vh;
        margin-top: -20px;
    }
    .texto-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    .imagens-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout{
        width: 13rem;
        height: 12rem;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout:hover{
        width: 14rem;
        height: 13rem;
    }
    .layout-imagem-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-sucesso{
        width: 9rem;
    }
    .formatacao-imagem-sucesso:hover{
        width: 11rem;
        transition: 2ms;
    }
    .texto-imagem-paginaInicial{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texto-imagem{
        color:var(--branco);
        font-family: var(--titulo);
    }
    .layout-sucesso{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        row-gap: 1rem;
        margin-block: 2vh;
    }
    .textodois-sucesso{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
